/* theme dark mode */

.dark-mode {
    background-color: #1a1a2e;
    color: #e0e0e0;
}

.dark-mode a {
    color: #e0e0e0;
}

.dark-mode .btn-primary {
    background-color: #a2a2a2;
    border-color: #555;
}

.dark-mode .btn-outline-primary {
    border-color: #e0e0e0;
    color: #e0e0e0;
}

.dark-mode .card {
    background-color: #2a2a3d;
    /* Darker than the main background for contrast */
}

.dark-mode .form-control {
    background-color: #333;
    color: #e0e0e0;
    border-color: #555;
}

.dark-mode .form-control::placeholder {
    color: #aaa;
    /* Lighter placeholder text for visibility against dark input background */
}

/* theme dark mode end */

/* interface language */

/* Language buttons styles */
.btn-outline-secondary {
    color: #333;
    border-color: #333;
}

.dark-mode .btn-outline-secondary {
    color: #e0e0e0;
    border-color: #555;
}

/* Adjust the gap between language buttons and dark mode switch */
.d-flex.align-items-center > * {
    margin-right: 0.5rem;
}

/* When a language is active, you might want to differentiate it */
.btn-language-active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}


/* interface language end */
